.container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.box{
	height: 100px;
	width: 100px;
}

.gr{
	background-color: green;
}

.r{
	background-color: red;
}

.b{
	background-color: blue;
}